::-webkit-scrollbar {
    display: none;
}
.darkApp {
   background-color: #05020a;
   color: #f0efff;
}
.lightApp {
    color: #05020a;
    background-color: #f0efff;
 }
 .load-screen {
    width: 100vw;
    min-height: 100vh;
    background-color: #05020a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }